.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
android/.gradle/
ios/Pods/
ios/.symlinks/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
.DS_Store

__pycache__/
*.pyc
